[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
pandas = "*"
sqlalchemy = "*"
numpy = "*"
tensorflow = "*"
keras = "*"
pyjwt = "*"
mysqlclient = "*"
pymysql = "*"
opencv-python = "*"
ultralytics = "*"
pillow = "*"
matplotlib = "*"
torch = "*"
"mysql.connector" = "*"
playsound = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.8"
